@model System.Data.DataTable
@{
    ViewBag.Title = "Song";
}

<h2>Song</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Song Name</th>
        <th>Artist</th>
        <th>Category</th>
        <th>Language</th>
        <th>Lyrics</th>
        <th></th>
    </tr>
    @for(int i=0;i<Model.Rows.Count;i++)
    {
    <tr>
        <td>@Model.Rows[i][1]</td>
        <td>@Model.Rows[i][2]</td>
        <td>@Model.Rows[i][3]</td>
        <td>@Model.Rows[i][4]</td>
        <td>@Model.Rows[i][5]</td>
        <td>
            <a href="@Url.Action("Edit","Song",new {@id=Model.Rows[i][0] })">Edit</a>
            <a href="@Url.Action("Delete","Song",new {@id=Model.Rows[i][0] })">Delete</a>
        </td>
    </tr>
    }
</table>

<a href="@Url.Action("Create","Song")">Add Song</a>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <center><input type="submit" value="Logout" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Home")'" /></center>
    </div>
</div>

